<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :pathw %><br>
    <%= f.text_field :pathw %>
  </div>
  <div class="field">
    <%= f.label :pathl %><br>
    <%= f.text_field :pathl %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :secnario %><br>
    <%= f.text_area :secnario %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :tested %><br>
    <%= f.check_box :tested %>
  </div>
  <div class="field">
    <%= f.label :referto %><br>
    <%= f.text_field :referto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
