<div class="container">
<%= form_for(@blog, :html => {:class=>'', :role=>'form'}) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "[The title]" %>
  </div>
  <div class="field col-md-2">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: "form-control", placeholder: "[The category]" %>
  </div>
  <div class="field col-md-2">
    <%= f.label :tested %><br>
    <%= f.check_box :tested %>
  </div>
  <div class="field col-md-2">
    <%= f.label :level %><br>
    <%= f.number_field :level, class: "form-control", placeholder: "[lv1~lv5]" %>
  </div>
</div>
<div class="row">
  <div class="field col-md-6">
    <%= f.label :pathw %><br>
    <%= f.text_field :pathw, class: "form-control", placeholder: "[Web path]" %>
  </div>
  <div class="field col-md-6">
    <%= f.label :pathl %><br>
    <%= f.text_field :pathl, class: "form-control", placeholder: "[Local path]" %>
  </div>
</div>
<div class="row">
  <div class="field col-md-6">
    <%= f.label :secnario %><br>
    <%= f.text_area :secnario, class: "form-control", rows: 5, placeholder: "[Issue secnario and use secnario]" %>
  </div>
  <div class="field col-md-6">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control",rows: 5, placeholder: "[The notes]" %>
  </div>
</div>
  <div class="field">
    <%= f.label :referto %><br>
    <%= f.text_field :referto, class: "form-control", placeholder: "[With intro and url. Parse by the specific flag]" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
</div>