<p id="notice"><%= notice %></p>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Listing Blogs</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<br>

<div class="container">
<table class="table table-striped">
  <caption>blog notes</caption>
  <thead>
    <tr>
      <th class="col-md-5">Title</th>
      <!-- <th class="col-md-3">Pathw</th> -->
      <!-- <th class="col-md-3">Pathl</th> -->
      <th class="col-md-1">Category</th>
      <th class="col-md-5">Secnario</th>
      <!-- <th class="col-md-3">Note</th> -->
      <th class="col-md-1">Level</th>
      <!-- <th class="col-md-3">Tested</th> -->
      <!-- <th class="col-md-3">Referto</th> -->
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <!-- <td><%= blog.pathw %></td> -->
        <!-- <td><%= blog.pathl %></td> -->
        <td><%= blog.category %></td>
        <td><%= blog.secnario %></td>
        <!-- <td><%= blog.note %></td> -->
        <td><%= blog.level %></td>
        <!-- <td><%= blog.tested %></td> -->
        <!-- <td><%= blog.referto %></td> -->
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-default glyphicon glyphicon-plus-sign" %>
  <%= link_to 'Books', books_path, class: "btn btn-default glyphicon glyphicon-list" %>
  <%= link_to 'Bknotes', bknotes_path, class: "btn btn-default glyphicon glyphicon-list" %>
</div>
