<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>
<div class="container">
  <%= form_tag(blogs_path, :method => "get", class: "navbar-form", role: "search") do %>
    <div class="input-group  navbar-left">
      <%= link_to '.New Blog', new_blog_path, class: "btn btn-default glyphicon glyphicon-plus-sign" %>
      <%= link_to '.Books', books_path, class: "btn btn-default glyphicon glyphicon-list" %>
      <%= link_to '.Bknotes', bknotes_path, class: "btn btn-default glyphicon glyphicon-list" %>
    </div>
    <div class="input-group  navbar-right">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
      <span class="input-group-btn">
        <%= submit_tag 'Search', class: "btn btn-info" %>
      </span>
    </div>
  <% end %>

<table class="table table-striped">
  <!-- <caption>blog notes</caption> -->
  <thead>
    <tr>
      <th class="col-md-5">Title</th>
      <!-- <th class="col-md-3">Pathw</th> -->
      <!-- <th class="col-md-3">Pathl</th> -->
      <th class="col-md-1">Category</th>
      <th class="col-md-5">Secnario</th>
      <!-- <th class="col-md-3">Note</th> -->
      <th class="col-md-1">Level</th>
      <!-- <th class="col-md-3">Tested</th> -->
      <!-- <th class="col-md-3">Referto</th> -->
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <!-- <td><%= blog.pathw %></td> -->
        <!-- <td><%= blog.pathl %></td> -->
        <td><%= blog.category %></td>
        <td><%= blog.secnario %></td>
        <!-- <td><%= blog.note %></td> -->
        <td><%= blog.level %></td>
        <!-- <td><%= blog.tested %></td> -->
        <!-- <td><%= blog.referto %></td> -->
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <% unless @blogs.present? %>
    <p class="alert alert-info">There are no blogs containing the term => "<%= params[:search] %>".</p>
  <% end %>
</div>

<div class="apple_pagination">
  <%= will_paginate @blogs, :container => false %>
  <div class="page_info">
    <%= page_entries_info @blogs %>
  </div>
</div>
