<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Pathw:</strong>
  <%= @blog.pathw %>
</p>

<p>
  <strong>Pathl:</strong>
  <%= @blog.pathl %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<p>
  <strong>Secnario:</strong>
  <%= @blog.secnario %>
</p>

<p>
  <strong>Note:</strong>
  <%= @blog.note %>
</p>

<p>
  <strong>Level:</strong>
  <%= @blog.level %>
</p>

<p>
  <strong>Tested:</strong>
  <%= @blog.tested %>
</p>

<p>
  <strong>Referto:</strong>
  <%= @blog.referto %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
