<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>
<script type="text/javascript">
  window.onload = function() {
    var pvws = document.getElementsByTagName('pvw');
    for( var i = 0; i < pvws.length; i++){
      pvws[i].onmouseover = function(){
        // alert(1)
        var url = this.firstChild.getAttribute('href');
        var img = document.createElement('img');
        img.src = url;
        img.style.position = 'absolute';
        img.style.width = '80px';  //图片高度，高宽只设置一个时，浏览器会自动计算另一个值，实现等比例缩放
        this.appendChild(img);
      }
      pvws[i].onmouseout = function(){
        // alert(2)
        var img = document.getElementById('demo').getElementsByTagName('img')[0];
        img.parentNode.removeChild(img);
        // var img = document.getElementsByTagName('img')[0];
        // while (pvws.hasChildNodes()){
        // pvws.removeChild(img);
      }
    }
  }
</script>

<div class="container">
<table class="table table-striped">
  <!-- <caption>book list</caption> -->
  <thead>
    <tr>
      <th class="col-md-3">Name</th>
      <th class="col-md-1">Picture</th>
      <th class="col-md-8">Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="demo">
    <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><pvw><a href="<%= book.picture %>"><span class="glyphicon glyphicon-picture"></span></a></pvw></td>
      <td><%= link_to book.bknotes.count, book %></td>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

<td>
<!-- 使用 assets/images/Git.jpg 不行, 需要使用 assets/Git.jpg 或 使用rails中的 image_path 或 image_url -->
<pvw><a href="assets/blink.gif">666</a></pvw>
<pvw><a href= <%= image_url 'Git.jpg'%>> img</a></pvw>
<pvw><a href= <%= image_path('firefox.jpeg') %>> img</a></pvw>
<pvw><a href="http://static.nipic.com/images/noface.png">666</a></pvw>
<!-- erb页面相对位置，更在意是否匹配上特性，这里的td会被认为是tr里的元素，解析成
 <tr><td><pvw> XXX </pvw></td></tr>，td换成tr不行 -->
</td>
  </tbody>
</table>
</div>

<div class="container">
  <%= link_to 'New Book', new_book_path, class: "btn btn-default glyphicon glyphicon-plus-sign" %>
  <%= link_to 'Bknotes', bknotes_path, class: "btn btn-default glyphicon glyphicon-list" %>
  <%= link_to 'Blogs', blogs_path, class: "btn btn-default glyphicon glyphicon-list" %>
</div>